body {
	margin: 0;
    padding: 0;
    background-color: #e6d2b5; /* Коричневий фон */
    font-family: 'Lobster', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding-left: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 0, 0.3)
}

h2.section {
    text-align: center; /* Відцентрування заголовка */
	font-weight: bold;
	font-size: 40px;
}



.header-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 24px;
    gap: 25px;
}

.header-nav li {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.header-nav li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.header-nav li:hover::before {
    width: 100%;
}

.left-container {
    width: 1600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 0 auto;
}

.info-block-left {
    max-width: 600px;
}

.info-block-left p {
    font-size: 30px;
    text-align: right;
}

.img-block-left {
    max-width: 500px;

}

.right-container {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.info-block-right {
    max-width: 600px;
    font-size: 30px;
}

.img-block-right {
    max-width: 500px;
}